.formacao{
    width: 100%;

}
.formacao-container{
    padding: 120px 20px;
    margin: 0 auto;
    gap: 100px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}


.curso-lista{
    display: flex;
    justify-content: center;
    
    
}


.curso{
    flex:1;
    background: #000000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.curso-tipo{
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.curso-nome{
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
}

.curso-instituicao{
    font-size: 1.125rem;
    padding-top: 10px;
}

.curso-habilidade{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: start;

}

.curso-habilidade li{
        font-size: 0.875rem;
        line-height: 1.4;
        border: 5px;
        background: #141414;
        padding: 5px;
}

.container h2{
    font-size: 7.5rem;
    line-height: 1,125rem;
    margin-bottom: 15px;
    margin-top: 50px;
    text-shadow: 0.1rem 0.1rem #d7d7d7;
    justify-content: flex-end;
    max-width: 5ch;
    padding-left: 60px;

}


@media(max-width: 800px){
    .container {
        grid-template-columns: 1fr 1fr;
        padding: 20px 20px;
        gap: 4pxpx;
    }

    .curso-lista{
        display: inline-block;
    }



    .curso-texto{
        font-size: 1.25rem;
    }

    .container .subtitulo{
        font-size: 3.2rem;
        max-width: 9ch;
    }

    .container .subtitulo{
        font-size: 40px;
        padding: 15px;
        padding-bottom: 20px;
        margin-bottom: 5px;
    }
}