.modal-container{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.ativo{
    display: flex !important;
}


.modal{
    background: #d7d7d7;
    padding: 40px;
    border:  10px solid #E8175D;
    box-shadow: 0 0 0 10px #d7d7d7;
    position: relative;
    max-width: 60%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
}

.semMensagens{
    display: none;
}

.botaoModal{
    padding: 15px 15px;
    background-color: red;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
    max-width: max-content;
    border: none;
    cursor: pointer;
    color: #e7e0dc;
    font-weight: 200;
    margin: 0 auto;
    display: block;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0);

    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fechar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 25px;
    position: relative;
    background: red;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-family: #d7d7d7;
    z-index: 999;
    cursor: pointer;
}


.modal label{
    display: block;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

.modal button[type="apagar"]{
    display: block;
    background: #E8175D;
    border: none;
    border-radius: 4px;
    padding: .7rem 2rem;
    font-size: 1rem;
}

.lista {
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 1em;
    font-size: 20px;
    display: grid;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #C5965F;
    font-weight: 400;
}
