.sobre{

    padding: 140px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    background: #040405
    
}

 

.sobre-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    color: #E8175D;
    display: flex;
    flex-direction: column;
    
    
}

.sobre-texto strong{
    color: #d7d7d7;
}

.sobre-texto p{
    padding-top: 80px;
}

.sobre img {
    width: 100%;
    height: 90%;
}


@media(max-width:800px){
    .sobre{
        grid-template-columns: 1fr 1fr;
    }
    
    .sobre-texto{
        padding: 0px;
        font-size: 1.25rem;
    }
    .img{
        width: 40%;
        height: 40%;
    }

    .subtitulo{
        font-size: 2.7rem;
        line-height: 1.33;
 
   }

   .sobre-texto p{
    padding-top: 40px;
    }

    @media(max-width: 600px){
        .sobre{
            grid-template-columns: 1fr;
            align-items: center;
            
    }
        .sobre img{
            display: none;
        }


    }

    

}